{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block content %}
<div class="container text-center d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">HUI POIMI CHTO</h1>
      <p class="lead">a small application that will allow you to practice writing sql queries and solving analytical problems. You have a database of a technical store and tasks in which you must write an sql query to find the information you need</p>
      <p class="lead">
        <a href="{{ url_for('main') }}" class="btn btn-outline-danger">TASKS</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>The footing <a href="#">footering</a>, by <a href="#">footer</a>.</p>
      </div>
    </footer>
</div>
{% endblock %}