{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>{% block title %} Sandbox {% endblock %}</h1>
    <form method="POST">
      <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="SELECT * FROM Table;" name="query">
      <button class="btn btn-outline-danger" type="submit">send</button>
      </div>
    </form>
    
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            {% for column in colnames %}
              <th scope="col">{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in answer %}
            <tr>
              {% for rw in row %}
                <td>{{ rw }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {{ error }}
  </div>
{% endblock %}