{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sandbox {% endblock %}</h1>
    <form method="POST">
        <input type="text" name="query" placeholder="SELECT * FROM Table;">
    </form>


    <table class="table table-striped table-dark">
        <thead>
          <tr>
            {% for column in colnames %}
              <th scope="col">{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in answer %}
            <tr>
              {% for rw in row %}
                <td>{{ rw }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {{ error }}
{% endblock %}